---
# Create a new Local CA on CipherTrust Manager
- name: Add Local CA
  anugram.cm_pki.cm_local_ca:
    localNode: "{{ this_node_connection_string }}"
    op_type: create
    cn: "{{ ca_cn }}"
    name: "{{ ca_name }}"
    algorithm: "{{ ca_algo }}"
    size: "{{ ca_key_size }}"
    names:
      - "{{ ca_names_var }}"
  ignore_errors: true

# Create a CSR with a private key
- name: Create CSR
  anugram.cm_pki.cm_local_ca:
    localNode: "{{ this_node_connection_string }}"
    op_type: create-csr-key
    cn: "{{ csr_cn }}"
    name: "{{ csr_name }}"
    algorithm: "{{ csr_algo }}"
    size: "{{ csr_key_size }}"
    ipAddresses:
      - "{{ server_ip }}"
    names:
      - "{{ csr_names_var }}"
    encryptionAlgo: "{{ enc_algo }}" 
  register: csr

- name: Debug Output
  debug: var=csr
